<section class="section">
    <div class="container">
        <div class="columns">  
           <%= render 'content' %>
        </div>
    </div>
<small>Created by: <%= article.user.username if article.user%>
</section>